auto-save-list/*
*~
#*#
**/**/#*#
**/**/.#*
**/**/**/#*#
*.elc
*.log
*.dvi
*.aux
geiser-history.guile
bookmarks
eshell/lastdir
eshell/historybookmarks
eshell/
bookmarks
geiser-history.guile
.desktop/*
emms/cache
session.*
*.swp
