auto-save-list/*
*.o
*~
#*#
**/**/#*#
**/**/.#*
**/**/**/#*#
*.elc
*.log
*.dvi
*.aux
geiser-history.guile
bookmarks
eshell/lastdir
eshell/historybookmarks
eshell/
bookmarks
geiser-history.guile
.desktop/*
emms/cache
session.*
*.swp
traces/*.gz
src/framework/traces/*.trace
src/framework/traces/*.gz
src/framework/traces/zgrep-output
data/*
GPATH
GRTAGS
GSYMS
GTAGS
